__pycache__/
*.py[cod]
*.so
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.xml
*.csv
*.cfg
*.pb
my_app/my_model_photo
my_app/my_model_photo_v16
my_app/my_model_text_v56
my_app/my_model_text_v57
my_app/my_model_text_v58
my_app/my_model_text_v59
my_app/my_model_text