{% extends 'my_app/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12" align="left">
            <br>
            <br>
            <br>
            <div class="alert alert-info" role="alert">
                <h5 align="center">Введите ниже <i><u>название блюда</u></i>, которое
                    хотите приготовить,
                    а так же на какое количество людей,
                    и мы с удовольствием <b>посчитаем для Вас его себестоимость!</b></h5>
            </div>

            <div class="card text-bg-light mb-3 " style="max-width: 32rem;">
                <div class="card-header" align="center"><b>Поиск блюда</b></div>
                <form method="post">
                    {% csrf_token %}
                    {% for f in form %}
                    <div class="card-body">
                        <p class="card-text" align="center"><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>
                            {{f}}
                        </p>
                        <div class="form-error">{{f.errors}}</div>
                        {% endfor %}
                        <br>
                        <h5 align="center">
                            <button type="submit" class="custom-btn btn-3"><span>поиск</span></button>
                        </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12" align="center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'my_app/images/bbq.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'my_app/images/salad2.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'my_app/images/rice.jpeg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}