{% extends 'my_app/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
    <div class="card-grid">
        <a class="card_faq" href="{% url 'about_prices_question' %}">
            <div class="card__background"
                 style="background-image: url(https://i.pinimg.com/564x/3d/b4/da/3db4dabf8143ab24d7446b1c9fc58783.jpg)"></div>
            <div class="card__content">
                <p class="card__category"><b>Вопрос #1</b></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h4 class="card__heading">Цены актуальны?</h4>
            </div>
        </a>
        <a class="card_faq" href="#">
            <div class="card__background"
                 style="background-image: url(https://i.pinimg.com/564x/f9/70/e2/f970e25ef91a0c8a5109d9fb6eaa4a80.jpg)"></div>
            <div class="card__content">
                <p class="card__category"><b>Вопрос #2</b></p>
                <h3 class="card__heading">Преимущества регистрации на сайте?</h3>
            </div>
        </a>
        <a class="card_faq" href="#">
            <div class="card__background"
                 style="background-image: url(https://i.pinimg.com/564x/16/07/3f/16073fa1030ca7efa5e35ebd2d5ab193.jpg)"></div>
            <div class="card__content">
                <p class="card__category"><b>Вопрос #3</b></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="card__heading">Какие продукты есть?</h3>
            </div>
        </a>
        </li>
        <a class="card_faq" href="#">
            <div class="card__background"
                 style="background-image: url(https://i.pinimg.com/564x/bc/e6/97/bce6977d69fe2ec57502a5a0f7f3da7c.jpg)"></div>
            <div class="card__content">
                <p class="card__category"><b>Вопрос #4</b></p>
                <h4 class="card__heading">Цель сайта?</h4>
            </div>
        </a>
        <div>
        </div>
    </div>
</section>


{% endblock %}